.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: #fff;
  font-size: max(3.9vw, 22px);
}

.header-contents p {
  color: #fff;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  border-radius: 50px;
  color: #747474;
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: 1vw 2.3vw;
  background-color: #fff;
}
